<div id=home class=container>

  <div class=hero-unit>
    <h1>The RFC is now <em>diamonds</em></h1>
    <p>
    <abbr title="Request For Comments" class=initialism>RFC</abbr>s are
    documents produced by
    <a href="http://www.ietf.org">The Internet Enginnering Task Force</a>,
    and many are official standards for various Internet protocols.
    This site indexes and formats these documents for easier finding &amp; viewing.
    </p>

    <form action=/search class=form-search>
      <input type=search class=search-query name=q placeholder="Search RFCs">
      <input type=submit value="Search" class=btn>
    </form>
  </div>

  <p>Coming next: PDF, EPUB &amp; Kindle formats</p>

  <footer>
    <p>
    By <a href="http://mislav.uniqpath.com">Mislav</a> ·
    <a href="https://github.com/mislav/rfc">Source code on GitHub</a>.
    </p>
  </footer>
</div>
