<div id=home class=container>

  <h1>The RFC is now <em>diamonds</em></h1>

  <div class=well>
  <p>
  Sample RFC: <a href=/oauth>OAuth 2.0</a>
  </p>

  <p>Sample PDF for RFC: <a href="https://s3.amazonaws.com/mislav/oauth.pdf">oauth.pdf</a></p>
  </div>

  <p>More to come:</p>
  <ul>
    <li>Intro about what RFCs are</li>
    <li>Search for RFCs</li>
    <li>Search by content</li>
    <li>EPUB and Kindle versions</li>
  </ul>

  <footer><p>
  By <a href="http://mislav.uniqpath.com">Mislav</a> ·
  <a href="https://github.com/mislav/rfc">Code on GitHub</a>.
  </p></footer>
</div>
