<div id=home class=container>

  <h1>The RFC is now <em>diamonds</em></h1>

  <div class=well>
  <p>
  Sample RFC: <a href=/oauth>OAuth 2.0</a>
  </p>

  <p>Sample PDF for RFC: <a href="https://s3.amazonaws.com/mislav/oauth.pdf">oauth.pdf</a></p>
  </div>

</div>
