<!doctype html>
<html>
<head>
  <title><%= page_title %></title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%#= javascript_includes %>
  <link rel=stylesheet type="text/css" href=/style.css>
</head>

<body>
  <%= yield %>
</body>
</html>
