<div id=404 class=container>

  <div class="hero-unit page-header">
    <h1>Not found</h1>
    <p>
    Resource is not present in the app.
    </p>
    <nav><a href="<%= home_path %>">&larr; Home</a></nav>
  </div>

</div>
