@import "bootstrap"
@import "screen"
@import "print"
@import "toc"

$sidebarWidth: 230px

#home
  padding-top: 2em

  h1
    margin-bottom: .8em
  h1 em
    font-style: normal
    text-transform: uppercase
    color: $pink
    text-shadow: rgba($pink, .7) 0 0 5px

  .initialism
    font-weight: bold
    border-bottom-color: $grayLight

  footer
    padding-top: .5em

#search
  h2
    font-size: 16px
    line-height: 1.1

#featured ul
  font-size: 120%
  line-height: 1.6
  margin-top: .6em
  margin-bottom: 2em

figure, div.figure
  page-break-inside: avoid

q::before
  content: "\201C"
q::after
  content: "\201D"

ul.empty
  list-style: none
ol.alpha
  list-style: upper-latin
ol.letters
  list-style: upper-roman

article
  padding: $gridGutterWidth 0
  position: relative
  +screen(nonphone)
    max-width: 50em
    padding-left: $sidebarWidth + $gridGutterWidth

  div.note
    @extend .well

  aside
    +screen(phone)
      display: none
    +screen(nonphone)
      display: block
      width: $sidebarWidth
      padding: $gridGutterWidth ($gridGutterWidth / 2)
      border-right: 1px solid silver
      position: fixed
      top: 0
      left: 0
      bottom: 0
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      overflow-y: auto
      overflow-x: hidden
      -webkit-overflow-scrolling: touch
    > ol > li
      font-weight: bold
    ol
      margin: 0
      padding: 0
      list-style: none
      li
        margin: 0
        padding: 0
      ol
        list-style: square
        margin-left: $baseLineHeight
        margin-bottom: $baseLineHeight / 2
        li
          color: $grayLight
          padding-top: $baseFontSize / 3
          line-height: $baseFontSize
        a
          color: $grayDark
          &:hover
            color: $grayDarker
