<% case style %>
<% when 'symbols' %>
  <ul><% for element in elements %>
    <li><%= render element %></li>
  <% end %></ul>
<% when 'alpha' %>
  <ol style="list-style:upper-latin"><% for element in elements %>
    <li><%= render element %></li>
  <% end %></ol>
<% when 'hanging' %>
  <dl><% for element in elements %>
    <dt><%== element['hangText'] %></dt>
    <dd><%= render element %></dd>
  <% end %></dl>
<% else raise "unrecognized list style: #{style.inspect}" %>
<% end %>
