<% if respond_to? :list? and list? %>
  <%= render list %>
<% else %>
  <% for element in elements %>
    <% if element.is_a? Array %>
      <p<%= class_attribute %>><%= render_inline element %></p>
    <% else %>
      <%= render element %>
    <% end %>
  <% end %>
<% end %>
