<% if list? %>
  <%= render list %>
<% else %>
  <% for block in blocks %>
    <% if block.is_a? Array %>
      <p<%= class_attribute %>><%= render_inline block %></p>
    <% else %>
      <%= render block %>
    <% end %>
  <% end %>
<% end %>
